@use "./index.sass"
@use "./_screen.sass"

.description-container
  padding: 4em 0 0 0
  margin: 0 .7em

  @include screen.medium-up 
    width: 60%

  .description-header
    font-size: 3.5em
    margin: 0 0 0 .2em

  .description-content
    position: relative
    font-size: 2em
    line-height: 1.5em
    margin: 1.5em 0
    padding: 0 1em 0 1em

  .description-content:before
    content: ""
    position: absolute
    left: .2em
    bottom: .8em
    top: .8em
    height: 90%
    border-left: .2em solid index.$secondary-color

  .button-container
    margin: 0 1.8em

  .black-button
    border: none
    background-color: index.$primary-color
    color: index.$tertiary-color
    height: 2.8em
    width: 5.5em

  .grey-button
    border: none
    background-color: index.$tertiary-color
    color: index.$primary-color
    height: 2.8em
    width: 5.5em
