@use './index.sass'

#resume-button
  background-color: index.$primary-color
  color: index.$secondary-color
  margin: 5px 5px 0 0
  padding: 7px 18px 0 18px
  border-radius: 3px
  border: 1px solid #e1e4e8

#logo
  margin: 10px 5px
  font-size: 30px
  
nav
  display: flex
  justify-content: space-between
