@use './index.sass'

#resume-button
  background-color: index.$primary-color
  color: index.$background-color
  text-align: center
  height: 2em
  width: 5em
  font-size: 2em
  text-align: center
  margin: .2em .2em 0 0
  border-radius: .1em
  padding: .2em 0
  border: .1em solid #e1e4e8

#logo
  margin: .1em 0 0 .2em
  font-size: 2.5em

nav
  display: flex
  justify-content: space-between
