@use '../styles/index.sass'

.project-header
  font-size: 35px
  text-align: right
  margin: 0 15px

.project-content
  display: flex
  flex-direction: column
  justify-content: space-between
  gap: 10px
  margin: 15px 0
  padding: 0 10px 0 20px
  color: index.$secondary-color
  list-style-type: none

.project-item:hover
  background: index.$tertiary-color
  color: index.$primary-color

.active 
  background: index.$tertiary-color
  color: index.$primary-color