.name {
  font-size: 80px;
}

.jobTitle {
  color: #FFFDD0;
}

.background {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100vh;
  text-align: center;
  color: #FAFDF3;
}

.description {
  text-align: left;
}

@media only screen and (min-width: 1200px) {
  .description {
    padding: 0 15% 0 15%;
  }
}