.background {
  background-color: #E2E2E2;
}

.contactHeader {
  border-bottom: 1px solid darkgray; 
  line-height: 0.1em;
}

.contactHeader span {
  background: #E2E2E2;
  padding: 0 10px;
}

.secondary {
  background-color: lightgray;
}

.contactInfo {
  font-weight: bold;
}

.iconHeader {
  border-bottom: 1px solid #343a40;
}

ul {
  padding: 0;
  list-style-type: none;
}

ul li {
  display: inline;
  padding-right: 15px;
}

li a {
  text-decoration: none;
  color: inherit;
}

li a:hover {
  text-decoration: none;
  color: inherit;
  opacity: .7;
}

#resumeIcon {
  text-decoration: none;
  color: #6c757d;
  padding-left: 3px;
}

#resumeIcon:hover {
  text-decoration: none;
  color: #343a40;
}

