.background {
  background-color: #E2E2E2;
}

.contactHeader {
  border-bottom: 1px solid darkgray; 
  line-height: 0.1em;
}

.contactHeader span {
  background: #E2E2E2;
  padding: 0 10px;
}

.secondary {
  background-color: lightgray;
}

ul li {
  display: inline;
}
