@media only screen and (min-height: 889px) {
  .background {
    height: 100vh;
  }
}

@media only screen and (max-width: 769px) {
  h3 {
    display: none;
  }
}

.projectHeader {
  border-bottom: 1px solid darkgray; 
  line-height: 0.1em;
}

.projectHeader span {
  background: #DBDBDB;
  padding: 0 10px;
}

.background {
  background-color: #DBDBDB;
}

.col {
  position: relative;
}

.projectTitle {
  text-align: center;
  padding: 20px 20px 0 0;
}

.projectDescription {
  line-height: 1.8;
}

.button {
  position: absolute;
  bottom: 0;
  right: 0;
}