@media only screen and (max-width: 769px) {
  h3 {
    display: none;
  }
}

@media only screen and (min-width: 960px) {
  .projectTitle {
    font-size: 25px;
  }
  
}

.background {
  background-color: #DBDBDB;
}

.projectHeader {
  border-bottom: 1px solid darkgray; 
  line-height: 0.1em;
}

.projectHeader span {
  background: #DBDBDB;
  padding: 0 10px;
}

.projectTitle {
  text-align: center !important;
}